{% extends 'base.html.twig'%}


{%block title %}
Bienvenue
{%endblock%}
{% block body %}
<div class="container"> 
    <div class="jumbotron mt-3">
      <h1 class="display-3">Bienvenue sur EasyRent!</h1>
          <p class="lead">Nous mettons en relation les propriétaires des voitures ainsi que les loueurs qui veulent profiter d'opportunités et gagner de l'argent</p>
          <hr class="my-4">
          <p>Voulez-vous louer une voiture ? Vous  êtes sur le bon site ! </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">Voir les annonces </a>
          </p>
    </div>
    <h2 class="h1 my-5">Nos locations stars</h2>
    <div class="row">
      {% for data in ads %}
        {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}
      {% endfor %}
    </div>
    <h2 class="h1 my-5">Nos proprietaires stars</h2>
    <div class="row">
      {% for data in users %}
        <div class="col">
          <div class="card border-secondary mb-3">
          <a href="{{path('user_show',{'slug': data.user.slug}) }}">
          <h4 class="card-title">{{data.user.fullName}}</h4>
          </a>
            <hr>
            <div class="card-text">
              <img src="{{data.user.picture}}" alt="Avatar de {{data.user.fullName}}" class="float-left mr-3">
              <p>{{data.user.introduction}}</p>
              
             
            </div>
            
          </div>
        </div>
      {% endfor %}
    </div>


    
    
{% endblock  %}